#arrow {
  --arrow-color: #36afa4;
  --background-color: rgb(215, 230, 228);
  --body-width: 500px;
  --arrow1-start: 500px
}

#arrow {
  left: 160px;
  z-index: 6;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  height: 200px;
  width: 800px;
}

#arrowtext {
  display: block;

  /* width: 300px; */
  margin: 0 20px 140px;
  padding: 0;
  z-index: 100;

  color: white;
  font-size: 3em;
  white-space: nowrap;
  text-align: center;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

}

#arrow > div {
  display: inline-block;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrowhead {
    width: 0; 
    height: 0; 
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid;

}
.arrowhead.blue {
  border-left-color: var(--arrow-color);
}
.arrowhead.white {
  border-left-color: var(--background-color);
}

.arrowbody {
  width: var(--body-width);
  height: 200px;

}
.arrowbody.blue {
  background-color: var(--arrow-color);
}
.arrowbody.white {
  background-color: var(--background-color);
}
/* Arrow 1 ------------------------*/
#arrowb1 {
  margin-left: calc(var(--arrow1-start) - var(--body-width));
  z-index: 7;
}
#arrowh1 {
  margin-left: calc(var(--arrow1-start));
  z-index: 7;
}
/* Arrow 2 ------------------------*/
#arrowb2 {
  margin-left: calc(var(--arrow1-start) - 60px - var(--body-width));
  z-index: 8;
}
#arrowh2 {
  margin-left: calc(var(--arrow1-start) - 60px);
  z-index: 8;
}
/* Arrow 3 ------------------------*/
#arrowb3 {
  margin-left: calc(var(--arrow1-start) - 80px - var(--body-width));
  z-index: 9;
}
#arrowh3 {
  margin-left: calc(var(--arrow1-start) - 80px);
  z-index: 9;
}
/* Arrow 4 ------------------------*/
#arrowb4 {
  margin-left: calc(var(--arrow1-start) - 100px - var(--body-width));
  z-index: 10;
}
#arrowh4 {
  margin-left: calc(var(--arrow1-start) - 100px);
  z-index: 10;
}
/* Arrow 5 ------------------------*/
#arrowb5 {
  margin-left: calc(var(--arrow1-start) - 120px - var(--body-width));
  z-index: 11;
}
#arrowh5 {
  margin-left: calc(var(--arrow1-start) - 120px);
  z-index: 11;
}
/* Arrow 6 ------------------------*/
#arrowb6 {
  margin-left: calc(var(--arrow1-start) - 600px - var(--body-width));
  z-index: 13;
}
#arrowh6 {
  margin-left: calc(var(--arrow1-start) - 600px);
  z-index: 13;
}

.startButton {
  margin-left: calc(var(--arrow1-start) - 425px);
  border: none;
  width: 250px;
  height: 200px;
  color: white;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 200;
  font-size: 70px;
}
