body {
    background-color: rgb(215, 230, 228);
}

* {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    font-weight: 400;
}

.logo {
    position: absolute;
    width: 100px;
    left: 20px;
    bottom: 20px;
    z-index: 200;
}

.mask {
    position: fixed;
    left: 580px;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    z-index: 5;
}