.claude/
.idea/
.vscode/
bin/
lib/
lib64/
lib64
share/
venv/
db.sqlite3
pip-selfcheck.json
pyvevn.cfg
__pychache__/
*.swp
fileserver/uploads/*
fileserver/!uploads/thumb/512/static/
nginx/config/*
!nginx/config/nginx/site-confs/default
config.production.json
ghost/data/*
!ghost/data/.gitkeep
.DS_Store
postfix/.env
.env
