services:
  postgres:
    image: postgres
    container_name: postgres
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '1234'

  api:
    build: 
      context: ./api
    command: "./django-dev-entrypoint.sh"
    volumes:
      - ./api/nvdagen:/api/nvdagen
      - ./api/nvdnew:/api/nvdnew
      - ./api/test:/api/test
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=nvdnew.settings.dev
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      target: base
    ports:
      - "8080:8080"
    command: ["npm", "run", "dev"]
    volumes:
      - ./frontend/src:/frontend/src
      - ./frontend/static:/frontend/static
      - ./frontend/test:/frontend/test

  fileserver:
    build: ./fileserver
    ports:
      - "9000:9000"
    command: ["./main"]
    volumes:
      - ./fileserver/uploads:/root/uploads
