.wheelarea {
    position: fixed;
    left: 0;
    width: 500vw;
    height: 500vh;
    border: 0px solid black;
    pointer-events: none;

    margin: 0;
    top: 50vh;
    transform: translateY(-50%);
}
.wheel {
    width: 1600px;
    height: 1600px;
    background-color: #1e605a;
    border-radius: 50%;
    position: absolute;
    left: 730px;
    overflow: hidden;

    margin: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
}
.sector {
    position: absolute;
    transform-origin: 100% 100%;
    background: lightcoral;
    width: 1000px;
    height: 1000px;
    left: 50%;
    top: 50%;
    margin-top: -1000px;
    margin-left: -1000px;
    border: 0px solid black;
    z-index: 3;
}
.sectorLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    z-index: 4;
}
.wheelcap {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(6, 66, 59);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 200;
}

