name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3

     - name: Set up Docker Compose
       uses: docker/setup-buildx-action@v2

     - name: Build and run API tests
       run: docker compose -f ./docker-compose-ci.yml up api --abort-on-container-exit

     - name: Build and run frontend tests
       run: docker compose -f ./docker-compose-ci.yml up frontend --abort-on-container-exit

     - name: Tear down
       run: docker compose -f ./docker-compose-ci.yml down
